*{margin:0;padding:0}
body{
	background-color:#1fffdc;
	
}
li{
	margin-left:50px;
}

#main-wrapper{
	background:#FFFFFF;
	width:960px;
	height:660px;
	margin:0 auto;
}
#header{
	background:white;
	height:40px;
	padding:13px;
	text-align:center;
	
}
#header h2{
	color:#Afd43d;
}
#header p{
	color:Black;
}
#nav{
	background-color:black;
	height:45px;
	list-style-type:none;	
	display:block;
	
}

#nav li{
	float:left;	
	width:140px;
	border-right:1px  black;
	position:relative;
	text-align:center;
	height:36px;
z-index:9999px;
	
}
#nav  li ul{
	border-bottom:none;
	height:30px;
}
#nav li:last-child{
	border-right:none;
	border-bottom:none;
	
}
#nav li a{
	list-style-type:none;
	text-decoration:none;
	padding:10px 20px;	
	
	color:#fffeee;	
	display:block;
	margin:auto 0;
}
#nav li a:hover{

	color:#EDCD1F;
}
#nav  li a:focus{
	background:red;
}
#nav  li ul{
	list-style-type:none;
	
	position:absolute;
	left:-9999px;
	
}
#nav  li:hover ul{
	left:0;
	
}
#nav  li ul li{
	float:none;
	padding:10 px 20px;
	background:#181E5C;
	border-right:none;
	border-bottom:1px solid black;
	border-top:1px solid black;
	width:200px;
	height:38px;
	
	
	
}
#nav  li ul li a{
	color:white;
	
}
#nav  li ul li:hover{
	color:white;
	
}


#slider img{
	width:960px;
	height:auto;
	margin:0 auto;
	display:block;
	vertical-align:middle;
}
.im img{
	width:20px;
}
#content_wrapper{
	background:#1c1b21;
	height:200px;
	width:960px;
	border-top:3px solid #6d2c2c;
	
}
#content{
	width:600px;
	float:left;	
	margin-left:5px;
	margin-top:15px;
}
#content h2{
	color:#fdfefc;
}
#content p{
	color:#fdfefc;
	
}
#sidebar{
	float:left;
	width:300px;
	margin-left:20px;
	margin-top:15px;
	
}
#sidebar h2{
	color:#a2bb88;
}
#sidebar ul{
	list-style-type:circle;
	
	
}
#sidebar ul li{
	
	margin-left:15px;
}
#sidebar ul li a{
	text-decoration:none;
	display:block;
	color:#4c0606;
	
}
#contact{
	margin-left:50px;
	margin-top:50px;
}
#contact p{
	font-size:20px;
	color:white;
}

#contact h1{
	color:green;
}
#contact a{
	color:white;
}#contact h2{
	color:#878c38;
}

.html{
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	margin-left:105px;
	margin-top:20px;
	padding:10px 20px;
	width:200px;
	height:100px;
}

#wrapper{
	padding:10px;
	display:block;
	margin: auto 0;
	background:white;

}
